@import url('https://googleapis.com');

body {
    
    font-family: 'Roboto', sans-serif;
}

.everything {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    width: 100vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    padding-bottom: 50px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.intro-img {
    width: 550px;
    height: 150px;
}

.word-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.awesome {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 900;
}

.p-one {
    font-size: 18px;
    color: #E5E7EB;
}

.b-one {
    color: #E5E7EB;
    background-color: #3882F6;
}
